# Electron 镜像源
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 镜像源（可选）
registry=https://registry.npmmirror.com
